html,
body {
    margin: 0;
    border: 0;


}

/*Header section*/

#container {
    margin: 40px auto 0 auto;
    background: url(./images/burger.jpg);
    Width: 700px;
    Height: 200px;
    background-size: cover;
    background-position-y: 80%;

    padding-top: 60px;
}

h1,
h4 {
    color: rgba(255, 255, 255, 1);
    font-family: 'Smythe', cursive;
    /*not working*/
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-left: 40px;
}

h1 {
    font-size: 45px;
}

h4 {
    font-size: 25px;
}

/* items */

main {
    background-color: #dee2e6;
    margin: 0 auto 20px auto;
    Width: 700px;
    height: 1200px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
}

#item {
    Width: 550px;
    Height: 200px;
    background-color: #ffffff;
    margin: 0 auto;
    color: black;
    display: flex;
    border-bottom: 1px solid rgba(206, 212, 218, 0.6);
    border-radius: 60px;
}

/*menu inner*/



#menu-items {
    font-size: 80px;
}

#plus-btn,
#minus-btn {
    background-color: rgba(206, 212, 218, 0.3);
    /* Set the background color */
    border: 1px solid rgba(128, 128, 128, 0.6);
    /* Remove the border */
    color: #495057;
    /* Set the font color */
    padding: 2px 18px;
    /* Set the padding */
    text-align: center;
    /* Center the text */
    text-decoration: none;
    /* Remove underline */
    display: inline-block;
    /* Display the button as an inline element */
    font-size: 40px;
    /* Set the font size */
    margin: 5px;
    /* Add some margin */
    cursor: pointer;
    /* Change the cursor to a pointer */
    border-radius: 50%;
    /* Set the border radius to 50% */
}

/* menu inner div*/
#food-name {
    font-size: 30px;
}

#food-price {
    font-size: 25px;
}

#food-name,
#food-price {
    color: rgba(73, 80, 87);
    padding: 0;

}

#food-ingredients {
    color: rgba(73, 80, 87, 0.5);
}

#menu-inner-div {
    margin-top: 40px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 15px;

}

#btn-container {
    margin-left: auto;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;

}

/*Total div*/
#total-div {
    Width: 550px;
    Height: 300px;
    background-color: #ffffff;
    margin: auto auto 40px auto;
    color: black;

}

#your-order {
    font-family: 'Smythe', cursive;
    color: rgba(73, 80, 87);
    padding: 0;
    text-align: center;
}

.remove-btn {
    background-color: transparent;
    border: none;
    color: rgba(73, 80, 87, 0.5);
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    margin-top: 7px;
    cursor: pointer;
}

#ordered-item {
    font-family: 'Smythe', cursive;
    color: rgba(73, 80, 87);
    padding: 0;
}

#order-details {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;

}

#order-details h1,
h3 {
    font-size: 40px;
}

#remove-btn-div {
    padding-top: 10px;
}

#order-container {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid rgba(206, 212, 218, 0.6);
}

#price-div {
    margin: auto 20px auto auto;

}

#price-tag {
    font-size: 24px;
}

#total-price h1,
h3 {
    padding: 0;
    margin: 2px;
}

#total-price {
    color: rgba(73, 80, 87);
    font-family: 'Smythe', cursive;
    display: flex;
    justify-content: space-between;
    font-size: 25px;

}

.price {
    margin: 5px 0 0 25px;
}

#price {
    margin: 15px 15px 0 0;
}

.hidden {
    display: none;
}

.active {
    display: block;
}


/*complete order button*/
#complete-btn-div {
    margin: 0 auto;
    padding-bottom: 100px;

}

#complete-btn {
    width: 550px;
    align-self: center;
    background-color: lightgreen;
    height: 70px;
    font-family: 'Smythe', cursive;
    color: rgba(73, 80, 87);
    font-size: 45px;
    border: none;

}

/*payment portal div*/

#payment-portal-div {

    height: 400px;
    width: 480px;
    background-color: black;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10%;
    background-color: #cad2c5;
}

#payment-portal-div h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: #ffffff;


}

#payment-portal-div input {
    width: 350px;
    height: 50px;
    text-align: left;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 5px
}

#payment-portal-div input:last-child {
    margin: 0 0 30px 0;
}

#pay-btn {
    width: 250px;
    height: 50px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    background-color: rgba(206, 212, 218, 0.3);
    /* Set the background color */
    border: 1px solid rgba(128, 128, 128, 0.6);

}

/*Message Div*/
#message-div {
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 20px;
    line-height: 60px;
}

span {
    color: red;
}